.first-box {
	height: 200px;
	border: 3px solid black;
	display: flex;
	align-items: flex-end;
}

.smallBox {
	height: 100px;
	width: 30px;
	background-color: purple;
	margin: 5px;
}

.bigBox {
	height: 190px;
	width: 300px;
	background-color: green;
	margin: 5px;
}

.circle {
	height: 190px;
	width: 190px;
	background-color: lightblue;
	border-radius: 50%;
	margin: 5px;
}

.dotted-border {
	height: 200px;
	border: 3px dotted black;
	display: flex;
	margin: 5px;
	align-items: center;
	justify-content: center;
}

.beige-rectangle {
	background-color: beige;
	height: 75%;
	width: 90%;
	box-shadow: 5px 5px 3px;
}

.hello-container {
	display: flex;
	justify-content: center;
}

.hello-rectangle {
	background-color: white;
	height: 400px;
	width: 600px;
	border: 2px solid lightblue;
	box-shadow: 3px 3px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
